<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Add Vehicle</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h2>Add Vehicle</h2>

<form th:action="@{/vehicles/create}" method="post" class="form-card">

    <label>Make:</label>
    <input type="text" name="make" required>

    <label>Model:</label>
    <input type="text" name="model" required>

    <label>Year:</label>
    <input type="number" name="year" required>

    <label>VIN:</label>
    <input type="text" name="vin" required>

    <div class="form-button-row">
        <button type="submit" class="btn btn-success">Save</button>
        <a href="/vehicles" class="btn">Back to List</a>
    </div>

</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
